<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consigue psicologo </title>
    <!-- CSS bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- CSS propio -->
    <link rel="stylesheet" href="./CSS/styles.css"/>
    <style>
        h1 {color:grey
        li {color:cadetblue}
    </style>
    <title> Consigue psicologo </title>
    <link rel="stylesheet" href="../CSS/styles.css"/>
</head>
<body>
        <header class="header" id="arriba">
            <div class="logo">
                <a href="./index.html"><img src="../Assets/Media/LOGO_PSICOLOGUEARTE1.png"width=70px height=60px alt="Logo"</a>
            </div>
            <div class = "navmain" id="navMain>"
                <nav>
                    <ul>
                        <li><a href="./Views/Unete como psicologo.html">Unete como Psicologo</a></li>
                        <li><a href="./Views/Conseguir psicologo.html">Conseguir Psicologo</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a href="./Views/preguntas frecuentes.html">Preguntas frecuentes</a></li>
                        <li><a href="./Views/contacto.html">Contacto</a></li>
                        <li><a href="#">Iniciar Sesion</a></li>
                        <li><a href="#">Buscar</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="enlace" class="enlace">
            <p><a href="#abajo" class="header__enlace"> Ir abajo</a></p>
        </section>
    <div class="container__2">
        <div id="title" class="title">
            <h1> Consigue un psicologo online hoy mismo!</h1> 
            <h3> Responde abajo tus preferencias y palabras clave para ayudarte a ubicarlo</h3>
        </div>
        <div id="form2" class="form2">
            <form>
                <fieldset>
                    <legend>Que preferirias que sea tu psicologo</legend>
                        <div class="form__sex">
                            <input type="radio" name="sexo" value="hombre" />
                            <label>Hombre</label>
                            <input type="radio" name="sexo" value="mujer" />
                            <label>Mujer</label>   
                        </div> 
                            <br>
                            <br>
                    <legend><h3>Ingresa palabras clave</h3></legend>
                            <label for="buscador">Como podemos ayudarte?</label>
                            <input type="text" id="buscador" name="buscador">
                </fieldset>
            </form>
        </div>
        <div class = "ladescarga2">
                <img src="../Assets/Media/LOGO_PSICOLOGUEARTE1.png" alt="PSicologia en Linea" width="100" height="60">
                <h2> No estas seguro? </h2>
                <h4> Descarga nuestro quiz</h4>
                    <a href="https://www.psicoactiva.com/test/diagnosticos/test-para-saber-si-necesito-ir-al-psicologo/" 
                        target="_parent"><button class="boton__descarga">Descargar</button></a>
        </div>
            <div class = "fotospsicologos">
                <h2 class="fotopsicologos__titulo">Conoce a nuestros psicologos</h2>
                <img class="fotopsicologos__img" src="../Assets/Media/psicologos_fotos.jpg" alt="Logo PSicologia en Linea" width="800" height="320">
            </div>
            <div class = "elfooter">
                <div class="footer__flex">
                    <div>
                        <h4 class="footer__titulo">Psicologos</h4>
                        <ul class="footer__menu">
                            <li><a href="./Views/Unete como psicologo.html">Unete como Psicologo</a></li>
                            <li><a href="./Views/Conseguir psicologo.html">Conseguir Psicologo</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="footer__titulo">Preguntanos</h4>
                        <ul class="footer__menu">
                            <li><a href="#">Precios</a></li>
                            <li><a href="./Views/preguntas frecuentes.html">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="footer__titulo">Haz mas</h4>
                        <ul class="footer__menu">
                            <li><a href="./Views/contacto.html">Contacto</a></li>
                            <li><a href="#">Iniciar Sesion</a></li>
                            <li><a href="#">Buscar</a></li>
                        </ul>
                    </div>
                </div>
                <p> <a href="#arriba" class="enlace"> Ir arriba</a></p>
                <div class="footer__creditos">Desarrollado por Daniela Casal</div>
            </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>


