<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=""viewport" content=""width=device-width, initial-sclae=1.0">
    <title> Contacto </title>
    <!-- CSS bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- CSS propio -->
    <link rel="stylesheet" href="./CSS/styles.css"/>
    <style>
        h1 {color:black}
        li {color:cadetblue}
    </style>
<title class="Title__text"> Contacto </title>
<link rel="stylesheet" href="../CSS/styles.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navb__color">
              <a class="navbar-brand" href="./index.html"><img class="img-fluid" src="../Assets/Media/LOGO_PSICOLOGUEARTE1.png" alt="PSicologia en Linea" width="80" height="50"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../Views/Unete como psicologo.html">Trabaja con nosotros</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../Views/preguntas frecuentes.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../Views/preguntas frecuentes.html">Preguntas frecuentes</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid">
    <main>
        <div class="row">
            <div style="background-color: peru;padding-top: 2rem;">
                <h1 class="Title__text"> Contacto</h1>     
        </div>
        <div style="background-color: peru; padding: 120px;">
        <form>
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido </span>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text">Correo electronico</span>
            <input type="email" aria-label="Email address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="input-group">
            <span class="input-group-text">Numero Telefono</span>
            <input type="number" aria-label="Phone number" class="form-control">
          </div>
          <div class="mb-3">
            <span class="input-group-text">Mensaje</span>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Acepto que me contacten
              </label>
              <div class="invalid-feedback">
                Debes aceptar para enviar
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary" style="background-color:black;">Enviar</button>
          </div>
          </form>
        </main>
    </section>
    <footer class="footer"> 
        <ul class="footer__menu">
            <li><a href="./Unete como psicologo.html">Unete como Psicologo</a></li>
            <li><a href="./preguntas frecuentes.html">Preguntas frecuentes</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
<div class="footer__creditos">Desarrollado por Daniela Casal</div>
</footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>