<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=""viewport" content=""width=device-width, initial-sclae=1.0">
    <title>Preguntas frecuentes</title>
    <!-- CSS bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- CSS propio -->
    <link rel="stylesheet" href="./CSS/styles.css"/>
    <style>
        h1 {color:gray}
    </style>
        <title>Preguntas frecuentes</title>
        <link rel="stylesheet" href="../CSS/styles.css"/>
</head>
<body>
    <header class="header" id="arriba">
        <div>
            <a href="./index.html"><img src="../Assets/Media/LOGO_PSICOLOGUEARTE1.png"width=70px height=60px alt="Logo"</a>
        </div>
        <div id="navMain>"
            <nav class="header__navbar">
                <ul class="header__menu">
                    <li><a href="./Views/Unete como psicologo.html">Unete como Psicologo</a></li>
                    <li><a href="./Views/Conseguir psicologo.html">Conseguir Psicologo</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="./Views/preguntas frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./Views/contacto.html">Contacto</a></li>
                    <li><a href="#">Iniciar Sesion</a></li>
                    <li><a href="#">Buscar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <p><a href="#abajo" class="header__enlace"> Ir abajo</a></p>
    <div class="faq">
        <aside>
        <img src="../Assets/Media/Preguntas frecuentes.png" alt="PSicologia en Linea" width="500" height="400">
        </aside>
    <main>
        <div class="faq__2">
            <h1> Preguntas frecuentes</h1>
            <br>
            <p>Hablar con un Psicólogo Clínico en línea es cada vez más común, 
                y nuestro centro ofrece la posibilidad de realizar terapia y consultas a distancia.</p>
            <br>
            <p> Aqui te dejamos algunas respuestas a preguntas frecuentes</p>
            <br>
                <ul>
                    <ol><b>Como reservar mi consulta?</b></ol>
                        <p>Puedes llenar el formulario de contacto y recibiras un correo con instrucciones</p>
                    <ol><b>Cuanto duran las sesiones?</b></ol>
                        <p>Aproximadamente 45 minutos</p>
                    <ol><b>Como se llevan a cabo las sesiones?</b></ol>
                        <p>Es necesario utilizar Skype para conectar con el psicologo</p>
                    <ol><b>Es seguro hacer consulta en linea?</b></ol>
                        <p>Si. Nuestros psicologos tienen amplia experiencia y las sesiones no son grabadas, por lo que aseguramos tu privacidad</p>
                    <ol><b>Cual es el precio por consulta?</b></ol>
                        <p>El precio depende de la frecuencia que escojas y el perfil de psicologo, te invitamos a llenar 
                            el formulario de contacto para mas informacion</p>
                    <ol><b>Como se pueden pagar las consultas?</b></ol>
                        <p>Al registrarte contaras con un portal de pago, aceptamos tarjetas de credito y pago por PayPal</p>
                </ul>
        </div>
    </div>
    </main>
    <footer id="abajo" class="footer"> 
        <div class="footer__flex">
            <div>
                <h4 class="footer__titulo">Psicologos</h4>
                <ul class="footer__menu">
                    <li><a href="./Unete como psicologo.html">Unete como Psicologo</a></li>
                    <li><a href="./Conseguir psicologo.html">Conseguir Psicologo</a></li>
                </ul>
            </div>
            <div>
                <h4 class="footer__titulo">Preguntanos</h4>
                <ul class="footer__menu">
                    <li><a href="#">Precios</a></li>
                    <li><a href="./preguntas frecuentes.html">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div>
                <h4 class="footer__titulo">Haz mas</h4>
                <ul class="footer__menu">
                    <li><a href="#">Iniciar Sesion</a></li>
                    <li><a href="#">Buscar</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        <p> <a href="#arriba" class="enlace"> Ir arriba</a></p>
        <div class="footer__creditos">Desarrollado por Daniela Casal</div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
